// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-google-inverse {
  color: #fff;
  background-color: #c6594b;
  border-color: #a94335;
}
